.wrapper {
    display: grid;
    grid-template-columns:  80% 20%;
    grid-gap: 3px;
    max-width: 1240px;
    margin-left: 9%;
}

.button {
    background-color: #2980B9;
    width: 164px;
    padding: 3px;
}

.button a {
    color: white;
    text-decoration: none;
}

.button a:visited {
    color: white;
    text-decoration: none;
}

.button a:focus {
    color: white;
    text-decoration: none;
}

.content {
    max-width: 1040px;
    margin-left: 9%;
}

.content table {
    margin-top: 20px;
    width: 1000px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.content table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.content table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.navigation {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:  500px 300px 200px;
    grid-gap: 3px;
    height: 80px;
    background-color: #E5E5E5;
    color: white;

}

.otstup {
    margin-left: 15%;
}

.tegs {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:  500px 300px 200px;
    grid-gap: 3px;
    height: 50px;
    background-color: #2980B9;
    color: white;
}


.item {
    margin-top: 10px;
}


.navigation button {
    padding: 5px;
    appearance: none;
    border: 0;
    background: #2980B9;
    color: #fff;
    font-size: 14px;
}