.navigation {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:  500px 300px 300px;
    grid-gap: 3px;
    height: 50px;
    font-size: 18px;
    margin-left: 9%;
}

.tegs {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:  500px 300px 200px;
    grid-gap: 3px;
    height: 50px;
    background-color: #2980B9;
    color: white;
}

.item {
    margin-top: 10px;
    padding-bottom: 10px;
}

.nav button {
    appearance: none;
    border: 0;
    background: #2980B9;
    color: #fff;
    font-size: 14px;
    height: 25px;
    width: 150px;
}

.body {
    display: grid;
    grid-template-areas:
    "c n";
    grid-template-rows: 1fr;
    grid-template-columns:  10fr 2fr;
    border-bottom: 1px solid #ECF0F1;
    margin-bottom: 20px;
    max-width: 1040px;
    margin-left: 7%;
}

.nav {
    grid-area: n;
}

.content {
    grid-area: c;
    margin-left: 40px;
}

.nav input {
    height: 20px;
    width: 140px;
    margin-top: 20px;
}

.banner {
    background-color: #ECF0F1;
}

.title {
    font-size: 30px;
    margin-left: 9%;
    padding-top: 15px;
}

.description1 {
    font-size: 16px;
    margin-left: 9%;
    padding-top: 8px;
    padding-bottom: 10px;
    max-width: 1000px;
}